<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hniu.mapper.TypeMapper">
    <resultMap id="BaseResultMap" type="cn.hniu.pojo.Type">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- type与 typeDetails -->
    <resultMap id="selectTypeAndTypeDetails" type="cn.hniu.pojo.Type">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
        <collection property="typeDetails" ofType="cn.hniu.pojo.TypeDetails">
            <id column="id" property="id" jdbcType="INTEGER"/>
            <result column="animal_name" property="animalName" jdbcType="VARCHAR"/>
            <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
            <result column="type_id" property="typeId" jdbcType="INTEGER"/>
            <result column="content" property="content" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <select id="selectTypeAndTypeDetails" resultMap="selectTypeAndTypeDetails">
        SELECT
            t.type_name,
            td.*
        FROM
            type t
        INNER JOIN type_details td ON t.id = td.type_id
    </select>

    <sql id="Base_Column_List">
    id, type_name, image_url
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from type
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from type
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.hniu.pojo.Type">
    insert into type (id, type_name, image_url
      )
    values (#{id,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="cn.hniu.pojo.Type">
        insert into type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="typeName != null">
                type_name,
            </if>
            <if test="imageUrl != null">
                image_url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="typeName != null">
                #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="imageUrl != null">
                #{imageUrl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hniu.pojo.Type">
        update type
        <set>
            <if test="typeName != null">
                type_name = #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="imageUrl != null">
                image_url = #{imageUrl,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.hniu.pojo.Type">
    update type
    set type_name = #{typeName,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>